<%- include('./header') %>

<body>

    <h1>Sign UP Page</h1>
    
      <form action="/user/create" method="post">
        <input type="text" name="name" id="" placeholder="Enter Your Name">
       <input type="email" name="emailid" id="" placeholder="Enter the email">
       <input type="password" name="password" id="" placeholder="Enter Your Password">
       <input type="password" name="password" id="" placeholder="Reenter Your Password">
      </form>
    <%- include('./footer') %>

</body>
</html>