<%- include('./header') %>

<body>
    <h1>Sign In Page</h1>

    <form action="/user/session" method="post">
       <input type="email" name="emailid" id="" placeholder="Enter the email">
       <input type="password" name="password" id="" placeholder="Enter Your Password">

       <button type="submit">Submit</button>
\    </form>


    <%- include('./footer') %>
</body>
</html>